/* css banner debut */
.logo-banner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='196' height='38' viewBox='0 0 196 38' fill='none'%3E%3Cg clip-path='url(%23clip0_1712_123)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M83.3395 0.464783C82.7233 1.0451 80.6931 1.10598 79.6971 1.10598H78.1945V1.23584C79.7904 2.20076 79.7608 4.52756 79.7365 6.43369L79.7365 6.43537C79.7336 6.66108 79.7308 6.88088 79.7308 7.09182V26.9242L79.731 27.0227L79.7318 27.2096C79.7383 28.5354 79.7447 29.8135 78.4646 30.3777V30.5117C78.7542 30.5541 79.0565 30.6002 79.37 30.648C81.2725 30.9379 83.5889 31.2908 85.9986 31.2908C93.4903 31.2908 98.2386 26.9242 98.2386 20.1754C98.2386 14.2829 94.2374 10.3546 89.5313 10.3546C88.531 10.3424 87.5391 10.5007 86.5979 10.8294L84.3694 14.4818C85.4161 13.869 86.6148 13.5403 87.8388 13.5362C92.0047 13.5362 94.0306 16.7625 94.0306 20.9343C94.0306 25.1833 91.4264 28.2391 86.8892 28.2391C85.7285 28.2188 84.5762 28.0443 83.4619 27.7237V0.464783H83.3395ZM53.0221 25.9868V10.2491H52.8997C52.3173 10.7645 50.1647 10.8051 49.2531 10.8051H47.6703V10.9309C49.2977 11.8921 49.2785 13.2621 49.2547 14.9519V14.952V14.9522V14.9523V14.9525V14.9527C49.2518 15.1602 49.2488 15.3726 49.2488 15.5897V22.2492C49.2488 25.5809 45.8469 27.9306 43.1035 27.9306C39.4906 27.9306 37.9922 25.4633 37.9922 21.4822V10.2491H37.8656C37.2831 10.7645 35.1179 10.8051 34.2062 10.8051H32.6446V10.9349C34.2719 11.8962 34.2527 13.2628 34.229 14.9519V14.9519V14.952V14.952V14.952V14.9521C34.2261 15.1598 34.2231 15.3724 34.2231 15.5897V22.2289C34.2231 28.3162 36.9623 31.1894 41.8626 31.1894C44.7707 31.1894 47.7716 30.1992 49.2531 27.8292V30.7024H54.6176V30.5725C52.9737 29.6864 52.9927 28.3167 53.0163 26.6215V26.6212V26.621V26.6207V26.6204V26.6201C53.0192 26.4137 53.0221 26.2025 53.0221 25.9868ZM61.3201 17.5701C61.8181 14.8673 63.8947 13.1507 66.6804 13.1507C69.6729 13.1507 71.5806 14.567 72.0407 17.5701H61.3201ZM76.4049 20.078C76.5695 14.5264 72.7033 10.3384 67.0518 10.3384C60.8642 10.3384 56.6689 14.6563 56.6689 20.6462C56.6689 26.6361 61.5269 31.2827 68.5924 31.2827C70.5592 31.3152 72.5134 30.95 74.3241 30.2114L76.4049 26.1532H76.2783C74.3663 27.6831 71.9478 28.5029 69.4618 28.4663C64.7684 28.4663 61.2357 25.3862 61.1555 20.0862L76.4049 20.078ZM105.616 17.5701C106.114 14.8673 108.191 13.1507 110.977 13.1507C113.969 13.1507 115.877 14.567 116.337 17.5701H105.616ZM120.697 20.078C120.866 14.5264 117 10.3384 111.348 10.3384C105.161 10.3384 100.965 14.6563 100.965 20.6462C100.965 26.6361 105.823 31.2827 112.885 31.2827C114.856 31.3152 116.81 30.95 118.62 30.2114L120.697 26.1532H120.575C118.663 27.6831 116.244 28.5029 113.758 28.4663C109.065 28.4663 105.532 25.3862 105.448 20.0862L120.697 20.078ZM139.154 15.2731H139.281L139.285 10.8457C137.816 10.5048 136.309 10.3343 134.798 10.3343C128.522 10.3343 122.942 13.8893 122.942 21.3239C122.942 26.9445 127.944 31.2787 134.338 31.2787C136.208 31.3355 138.069 31.0473 139.825 30.4224L141.986 26.3398H141.86C140.129 27.6588 138.002 28.4014 135.795 28.4582C131.181 28.4582 127.155 25.1711 127.155 20.1998C127.155 16.0929 130.059 13.1507 134.089 13.1507C135.955 13.1507 137.951 13.8447 139.154 15.2731ZM71.2176 6.76716V2.44112C68.4953 3.61394 65.9671 5.80942 64.2788 7.94403V9.62819C67.4867 7.55152 69.972 7.04578 70.8622 6.86465C71.094 6.81747 71.2176 6.79231 71.2176 6.76716ZM4.90605 15.7236C4.90605 21.4984 9.27026 28.304 15.5465 28.304C21.7805 28.304 25.8914 23.4585 25.8872 17.1034V16.4865C25.8281 10.5169 22.2574 4.21861 15.3354 4.21861C8.75534 4.21861 4.98202 9.47398 4.90605 15.0743V15.7236ZM23.2324 29.0385C27.9638 34.2452 32.4082 35.6453 37.051 34.9189L37.6292 34.8255C36.401 36.3595 34.3497 37.1022 32.4124 37.3254C28.3268 37.8002 23.5954 35.7711 18.2899 30.9824C17.1757 31.2584 16.0318 31.4045 14.8796 31.4166C6.78004 31.4166 0.17041 25.0574 0.17041 16.4947V15.8859C0.233721 7.09993 7.45536 1.09786 15.5887 1.09786C23.722 1.09786 30.5595 6.86456 30.6313 15.5978V16.2349C30.6313 21.328 27.8034 26.8309 23.2324 29.0385Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M157.455 10.7807C157.455 10.7807 157.455 11.8764 158.721 11.4909C158.721 11.4909 158.772 12.4689 159.553 12.822C160.317 12.4689 160.367 11.4909 160.367 11.4909C161.655 11.8764 161.655 10.7807 161.655 10.7807C160.523 10.9715 160.414 10.0584 160.414 10.0584H162.668V9.0357H161.591C161.591 9.0357 161.773 7.67215 162.819 7.67215C163.79 7.67215 163.925 8.70293 163.748 9.12904C164.233 9.2102 164.943 8.40262 164.943 7.453V7.40431C164.943 6.40599 164.103 5.59841 163.064 5.59841C161.642 5.59841 160.574 7.17705 160.574 9.0357H160.152C160.101 8.4635 160.131 7.88723 160.249 7.32314C160.39 6.73088 160.609 6.25243 160.805 5.82408C161.037 5.31614 161.237 4.87864 161.237 4.4053C161.25 3.42577 160.858 2.97814 160.373 2.42569C160.108 2.12443 159.817 1.79199 159.548 1.32513C159.28 1.79041 158.988 2.12218 158.724 2.42263C158.237 2.97648 157.844 3.42396 157.86 4.4053C157.867 4.88673 158.066 5.3253 158.295 5.83065C158.489 6.2582 158.704 6.73356 158.844 7.32314C158.962 7.88723 158.996 8.4635 158.945 9.0357H158.523C158.523 7.17705 157.459 5.59841 156.037 5.59841H155.986C154.948 5.62682 154.129 6.45469 154.159 7.453C154.159 8.40262 154.868 9.2102 155.353 9.12904C155.176 8.70293 155.311 7.67215 156.277 7.67215C157.328 7.67215 157.51 9.0357 157.51 9.0357H156.438V10.0584H158.696C158.696 10.0584 158.586 10.9715 157.455 10.7807ZM149.402 1.11005H169.661V13.0452H149.402V1.11005ZM183.594 10.7807C183.594 10.7807 183.615 11.8764 184.881 11.4909C184.881 11.4909 184.932 12.4689 185.696 12.822C186.46 12.4689 186.51 11.4909 186.51 11.4909C187.798 11.8764 187.798 10.7807 187.798 10.7807C186.667 10.9715 186.557 10.0584 186.557 10.0584H188.798V9.0357H187.73C187.73 9.0357 187.912 7.67215 188.963 7.67215C189.929 7.67215 190.064 8.70293 189.887 9.12904C190.372 9.2102 191.081 8.40262 191.081 7.453V7.40431C191.081 6.40599 190.241 5.59841 189.203 5.59841C187.781 5.59841 186.717 7.17705 186.717 9.0357H186.295C186.249 8.4635 186.282 7.88723 186.401 7.32314C186.54 6.72984 186.757 6.25077 186.952 5.82184C187.182 5.31486 187.38 4.87794 187.38 4.4053C187.393 3.42765 187 2.97986 186.517 2.42887C186.251 2.12677 185.959 1.79364 185.692 1.32513C185.423 1.79041 185.131 2.12217 184.867 2.42263C184.38 2.97648 183.987 3.42396 184.003 4.4053C184.012 4.8872 184.211 5.32616 184.441 5.83214C184.635 6.2593 184.85 6.73425 184.991 7.32314C185.109 7.88723 185.139 8.4635 185.088 9.0357H184.666C184.666 7.17705 183.598 5.59841 182.176 5.59841H182.125C181.087 5.62682 180.268 6.45469 180.297 7.453C180.297 8.40262 181.007 9.2102 181.492 9.12904C181.315 8.70293 181.45 7.67215 182.416 7.67215C183.467 7.67215 183.649 9.0357 183.649 9.0357H182.581V10.0584H184.835C184.835 10.0584 184.721 10.9715 183.594 10.7807ZM175.562 1.11005H195.821V13.0452H175.562V1.11005ZM158.721 29.1278C157.455 29.5336 157.455 28.4176 157.455 28.4176C158.586 28.6124 158.696 27.6953 158.696 27.6953H156.438V26.6726H157.51C157.51 26.6726 157.328 25.3091 156.277 25.3091C155.311 25.3091 155.176 26.3398 155.353 26.77C154.868 26.8471 154.159 26.0395 154.159 25.0899C154.129 24.0916 154.948 23.2637 155.986 23.2353H156.037C157.459 23.2353 158.523 24.814 158.523 26.6726H158.945C158.996 26.1004 158.962 25.5241 158.844 24.96C158.704 24.3726 158.489 23.8976 158.295 23.4702C158.066 22.9646 157.867 22.5257 157.86 22.0463C157.844 21.0616 158.238 20.6133 158.725 20.0586C158.989 19.7583 159.28 19.4268 159.548 18.962C159.816 19.4283 160.108 19.7605 160.372 20.0617C160.857 20.615 161.25 21.0635 161.237 22.0463C161.237 22.5176 161.037 22.9555 160.804 23.4637C160.609 23.8918 160.39 24.3699 160.249 24.96C160.131 25.5241 160.101 26.1004 160.152 26.6726H160.574C160.574 24.814 161.642 23.2353 163.064 23.2353C164.103 23.2353 164.943 24.0429 164.943 25.0412V25.0899C164.943 26.0395 164.233 26.8471 163.748 26.77C163.925 26.3398 163.79 25.3091 162.819 25.3091C161.773 25.3091 161.591 26.6726 161.591 26.6726H162.668V27.6953H160.414C160.414 27.6953 160.523 28.6124 161.655 28.4176C161.655 28.4176 161.655 29.5133 160.367 29.1278C160.367 29.1278 160.317 30.1058 159.553 30.4589C158.772 30.0896 158.721 29.1278 158.721 29.1278ZM169.661 18.751H149.402V30.6821H169.661V18.751ZM183.594 28.4176C183.594 28.4176 183.615 29.5336 184.881 29.1278C184.881 29.1278 184.932 30.0896 185.696 30.4589C186.46 30.1058 186.51 29.1278 186.51 29.1278C187.798 29.5133 187.798 28.4176 187.798 28.4176C186.667 28.6124 186.557 27.6953 186.557 27.6953H188.798V26.6726H187.73C187.73 26.6726 187.912 25.309 188.963 25.309C189.929 25.309 190.064 26.3398 189.887 26.77C190.372 26.8471 191.081 26.0395 191.081 25.0899V25.0412C191.081 24.0429 190.241 23.2353 189.203 23.2353C187.781 23.2353 186.717 24.8139 186.717 26.6726H186.295C186.249 26.1004 186.282 25.5241 186.401 24.96C186.54 24.3689 186.757 23.8901 186.951 23.4614C187.181 22.9542 187.38 22.5169 187.38 22.0462C187.393 21.0653 187 20.6167 186.516 20.0648C186.251 19.7629 185.959 19.43 185.692 18.962C185.423 19.4267 185.132 19.7583 184.868 20.0586C184.381 20.6133 183.987 21.0616 184.003 22.0462C184.012 22.5262 184.212 22.9655 184.441 23.4717C184.635 23.8987 184.85 24.3733 184.991 24.96C185.109 25.5241 185.139 26.1004 185.088 26.6726H184.666C184.666 24.8139 183.598 23.2353 182.176 23.2353H182.125C181.087 23.2637 180.268 24.0916 180.297 25.0899C180.297 26.0395 181.007 26.8471 181.492 26.77C181.315 26.3398 181.45 25.309 182.416 25.309C183.467 25.309 183.649 26.6726 183.649 26.6726H182.581V27.6953H184.835C184.835 27.6953 184.721 28.6124 183.594 28.4176ZM175.562 18.751H195.821V30.6821H175.562V18.751Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1712_123'%3E%3Crect width='196' height='38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
  width: 196px;
  height: 38px;
}
.navbar {
  background-color: #095797;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar-text a,
.navbar-text a:focus,
.navbar-text a:hover {
  color: #fff;
  font-family: Roboto;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* css banner fin */

/* css footer debut */
footer > ul.nav > li > a {
  color: #095797;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
footer.py-3 {
  margin-top: 64px;
}

footer > P {
  color: var#000;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-footer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='153' height='44' viewBox='0 0 153 44' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M78.6784 21.5527C78.3249 21.899 77.1564 21.935 76.5794 21.935V21.9278H75.6777V22.0072C76.5995 22.5873 76.5823 23.9854 76.5683 25.1308L76.5682 25.1313C76.5666 25.2675 76.5649 25.4 76.5649 25.5272V37.436C76.5649 37.5016 76.5654 37.5674 76.5658 37.6329C76.5709 38.4176 76.5759 39.1805 75.8436 39.5134V39.5927C76.0047 39.6174 76.173 39.6442 76.3476 39.6719C77.4476 39.8467 78.7998 40.0616 80.2004 40.0616C84.5427 40.0616 87.2836 37.436 87.2836 33.3822C87.2836 29.8406 84.9754 27.4819 82.2561 27.4819C81.6791 27.4819 81.1092 27.5613 80.561 27.7704L79.2699 29.9777C79.919 29.617 80.5105 29.4078 81.2751 29.4078C83.6843 29.4078 84.8528 31.3481 84.8528 33.8511C84.8528 36.4118 83.3525 38.2439 80.7269 38.2439C80.0633 38.2439 79.3925 38.114 78.7505 37.9337V21.5527H78.6784ZM61.1722 36.8878V27.4314H61.1C60.7682 27.7416 59.5204 27.7632 58.9938 27.7632H58.0777V27.8426C59.0151 28.4204 59.0038 29.2439 58.99 30.2572V30.2573V30.2574V30.2575V30.2577V30.2578C58.9883 30.3828 58.9866 30.5106 58.9866 30.6413V34.6446C58.9866 36.6426 57.0246 38.0491 55.4377 38.0491C53.3532 38.0491 52.4876 36.5705 52.4876 34.1757V27.4314H52.4154C52.0764 27.7416 50.8286 27.7632 50.302 27.7632H49.4004V27.8426C50.3377 28.4204 50.3265 29.2439 50.3127 30.2572V30.2573V30.2574V30.2575V30.2577V30.2578C50.311 30.3828 50.3092 30.5106 50.3092 30.6413V34.6229C50.3092 38.2728 51.8961 40.0111 54.7236 40.0111C56.4043 40.0111 58.1282 39.4124 58.9938 37.9914V39.7154H62.0882V39.636C61.1439 39.1092 61.155 38.2849 61.1688 37.2701L61.1688 37.2698C61.1704 37.1453 61.1722 37.0179 61.1722 36.8878ZM65.9617 31.8314C66.2502 30.2085 67.4476 29.177 69.0561 29.177C70.7872 29.177 71.8909 30.0282 72.1505 31.8314H65.9617ZM74.6823 33.3318C74.7761 29.9921 72.5472 27.4747 69.2797 27.4747C65.702 27.4747 63.2784 30.0714 63.2784 33.6708C63.2784 37.299 66.0843 40.0616 70.1669 40.0616C71.2994 40.0616 72.4463 39.8813 73.485 39.4196L74.6823 36.9816H74.6102C73.5066 37.9193 72.1145 38.3665 70.6718 38.3665C67.9597 38.3665 65.9184 36.5127 65.8679 33.3318H74.6823ZM91.5538 31.8314C91.8423 30.2085 93.0397 29.177 94.6554 29.177C96.3866 29.177 97.483 30.0282 97.7499 31.8314H91.5538ZM100.267 33.3318C100.361 29.9921 98.1322 27.4747 94.8646 27.4747C91.2869 27.4747 88.8633 30.0714 88.8633 33.6708C88.8633 37.299 91.6692 40.0616 95.7518 40.0616C96.8771 40.0616 98.0312 39.8813 99.0627 39.4196L100.267 36.9816H100.195C99.0915 37.9193 97.6994 38.3665 96.2568 38.3665C93.5446 38.3665 91.5033 36.5127 91.4528 33.3318H100.267ZM110.928 30.4465H111H111.008V27.7849C110.171 27.5757 109.284 27.4747 108.418 27.4747C104.79 27.4747 101.566 29.6098 101.566 34.0819C101.566 37.4577 104.458 40.0616 108.151 40.0616C109.204 40.0616 110.308 39.9606 111.318 39.5495L112.566 37.097H112.493C111.556 37.8472 110.214 38.3665 108.988 38.3665C106.319 38.3665 103.996 36.3901 103.996 33.4039C103.996 30.937 105.67 29.1698 108 29.1698C109.082 29.1698 110.229 29.5882 110.928 30.4465ZM71.6817 25.3324V22.7357C70.1092 23.4426 68.6522 24.7626 67.6712 26.0465V27.0563C69.5271 25.8076 70.9645 25.5005 71.4777 25.3909C71.6107 25.3624 71.6817 25.3473 71.6817 25.3324ZM33.3728 30.7134C33.3728 34.1829 35.8902 38.2727 39.5184 38.2727C43.1177 38.2727 45.4981 35.3659 45.4981 31.5501V31.175C45.4692 27.5901 43.4063 23.8032 39.403 23.8032C35.5945 23.8032 33.4161 26.9554 33.3728 30.3239V30.7134ZM43.9617 38.7127C46.6954 41.8432 49.2705 42.6872 51.9466 42.2472L52.2712 42.1822C51.5571 43.1055 50.3741 43.5455 49.2561 43.6826C46.8974 43.9711 44.1636 42.7449 41.0981 39.8741C40.4489 40.0327 39.7997 40.1337 39.1289 40.1337C34.4476 40.1337 30.6318 36.318 30.6318 31.1678V30.8144C30.6679 25.5272 34.8299 21.9206 39.54 21.9206C44.243 21.9206 48.1813 25.3829 48.2318 30.6341V31.0163C48.2318 34.0891 46.6017 37.3855 43.9617 38.7127Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7452 6.38361C9.90386 6.38361 9.47831 6.03237 9.4042 5.26557H13.1471C13.2265 4.89771 13.2697 4.5659 13.2697 4.27016C13.2697 2.83475 12.4763 2.01246 11.0265 2.01246C10.0455 2.01246 9.25204 2.29377 8.70385 2.83475C8.13401 3.39016 7.76614 4.27738 7.76614 5.12852C7.76614 6.60721 8.73991 7.57377 10.3845 7.57377C11.0481 7.57377 11.6973 7.47279 12.3176 7.27803L12.5196 5.98689C11.9209 6.25377 11.3006 6.38361 10.7452 6.38361ZM11.7838 4.01049C11.7838 3.43344 11.4304 3.06557 10.8678 3.06557C10.3124 3.06557 9.84352 3.50557 9.64155 4.25574H11.7622C11.7645 4.23041 11.7675 4.20434 11.7706 4.178C11.7772 4.12186 11.7838 4.0645 11.7838 4.01049ZM10.9976 0H12.8947V0.223607L11.2212 1.46426H10.0238V1.34164L10.9976 0ZM4.91696 0.353436C6.5904 0.353436 7.44877 0.944911 7.44877 2.09901C7.44877 3.12327 6.75631 3.78688 5.50844 3.88786C5.97729 4.16917 6.10713 4.52983 6.20811 5.00589L6.72745 7.40065H4.87368L4.37598 5.13573C4.28942 4.7318 4.06581 4.60196 3.53204 4.60196H3.20024L2.60876 7.40786H0.762207L2.25532 0.360649H4.91696V0.353436ZM3.47434 3.28917H4.14516C5.0468 3.28917 5.51565 2.93573 5.51565 2.37311C5.51565 1.89704 5.19106 1.64458 4.54188 1.64458H3.80614L3.47434 3.28917ZM19.372 7.40788L20.4756 2.18558V2.17115H18.6652L18.4704 3.05837C18.117 2.38755 17.5183 2.0341 16.7537 2.0341C15.852 2.0341 15.1019 2.4164 14.6042 3.1305C14.2075 3.69312 14.0055 4.37115 14.0055 5.1141C14.0055 6.51345 14.8134 7.40066 16.0396 7.40066C16.8114 7.40066 17.4461 7.06165 17.9871 6.34755C17.7996 7.76132 17.0422 8.20853 16.0901 8.20853C15.4553 8.20853 14.9071 8.05706 14.4527 7.76132L14.1209 9.11017C14.8206 9.35542 15.4986 9.47804 16.1694 9.47804C17.8212 9.47804 19.0475 8.92263 19.372 7.40788ZM15.852 5.18623C15.852 4.14033 16.4652 3.39017 17.1648 3.39017C17.7347 3.39017 18.1386 3.81574 18.1314 4.45771C18.1314 5.45312 17.4822 6.20328 16.7537 6.20328C16.2199 6.20328 15.852 5.79214 15.852 5.18623ZM23.6566 2.17114L22.517 7.40065H20.7425L21.8822 2.17114H23.6566ZM24.0317 0.353436L23.8442 1.29114H22.0697L22.2429 0.353436H24.0317ZM25.8285 5.26556C25.9026 6.03235 26.3281 6.38359 27.1694 6.38359C27.7248 6.38359 28.3452 6.25376 28.9438 5.98687L28.7419 7.27802C28.1215 7.47277 27.4724 7.57375 26.8088 7.57375C25.1642 7.57375 24.1904 6.6072 24.1904 5.12851C24.1904 4.27736 24.5583 3.39015 25.1281 2.83474C25.6763 2.29375 26.4697 2.01244 27.4507 2.01244C28.9006 2.01244 29.694 2.83474 29.694 4.27015C29.694 4.56589 29.6507 4.89769 29.5714 5.26556H25.8285ZM27.2848 3.06556C27.8475 3.06556 28.2009 3.43343 28.2009 4.01048C28.2009 4.08982 28.1937 4.17638 28.1793 4.25572H26.0586C26.2606 3.50556 26.7222 3.06556 27.2848 3.06556ZM40.3983 0.353436L38.9124 7.40065H37.2894L37.4842 6.52786C36.9793 7.2059 36.3301 7.55212 35.5727 7.55212C34.332 7.55212 33.5314 6.66491 33.5314 5.2295C33.5314 3.33245 34.6783 2.0413 36.3012 2.0413C37.0658 2.0413 37.6645 2.39475 38.0179 3.06557L38.595 0.353436H40.3983ZM36.7124 3.39016C36.0127 3.39016 35.3996 4.14032 35.3996 5.18622C35.3996 5.79212 35.7675 6.20327 36.3012 6.20327C37.0297 6.20327 37.6861 5.45311 37.6861 4.4577C37.6861 3.81573 37.2822 3.39016 36.7124 3.39016ZM42.1157 5.26556C42.1898 6.03235 42.6153 6.38359 43.4566 6.38359C44.012 6.38359 44.6324 6.25376 45.2311 5.98687L45.0291 7.27802C44.4088 7.47277 43.7596 7.57375 43.096 7.57375C41.4514 7.57375 40.4776 6.6072 40.4776 5.12851C40.4776 4.27736 40.8455 3.39015 41.4153 2.83474C41.9635 2.29375 42.757 2.01244 43.7379 2.01244C45.1878 2.01244 45.9812 2.83474 45.9812 4.27015C45.9812 4.56589 45.9379 4.89769 45.8586 5.26556H42.1157ZM43.5793 3.06556C44.1419 3.06556 44.4953 3.43343 44.4953 4.01048C44.4953 4.06449 44.4886 4.12184 44.4821 4.17798L44.4821 4.17805C44.479 4.20436 44.476 4.23041 44.4737 4.25572H42.353C42.555 3.50556 43.0238 3.06556 43.5793 3.06556ZM4.18844 10.524L2.66647 17.564H0.855977L2.37794 10.524H4.18844ZM6.37401 13.2866L7.87434 10.524H6.08549L4.96745 13.2866H6.37401ZM12.5412 16.2367L12.5387 16.2487C12.4599 16.6212 12.3676 17.0572 12.3248 17.5567H10.8101L10.9111 16.7633C10.5071 17.3619 9.8868 17.6649 9.10057 17.6649C8.02581 17.6649 7.35499 17.0374 7.35499 16.1141C7.35499 14.9456 8.42975 14.217 10.435 14.217C10.7019 14.217 10.9832 14.2387 11.2789 14.2675C11.2861 14.2098 11.2861 14.1449 11.2861 14.0944C11.2861 13.5679 10.9399 13.2793 10.2835 13.2793C9.67762 13.2793 9.10778 13.4092 8.57401 13.676L8.7904 12.457C9.36024 12.2551 9.93008 12.1541 10.5288 12.1541C12.1012 12.1541 12.9596 12.8177 12.9596 13.8203C12.9596 14.0656 12.9163 14.3901 12.8442 14.758L12.5412 16.2367ZM10.5504 15.1547C9.57663 15.1547 9.0645 15.436 9.0645 15.9698C9.0645 16.316 9.33139 16.5613 9.73532 16.5613C10.3629 16.5613 10.9327 16.0564 11.0625 15.1836C10.8894 15.1547 10.7163 15.1547 10.5504 15.1547H10.5504ZM16.6022 13.3515C17.0278 13.3515 17.4606 13.4741 17.9799 13.6472L18.3766 12.4931C17.7275 12.2839 17.1143 12.1757 16.5373 12.1757C14.9576 12.1757 14.056 12.9475 14.056 13.8925C14.056 14.6931 14.5176 15.0177 15.3688 15.3639C15.417 15.3828 15.4634 15.4004 15.508 15.4173L15.5081 15.4174C15.8904 15.5626 16.1334 15.6548 16.1334 15.9843C16.1334 16.28 15.816 16.4531 15.2173 16.4531C14.7268 16.4531 14.2507 16.3449 13.753 16.0997L13.3779 17.362C14.0632 17.5928 14.7484 17.6938 15.4625 17.6938C17.0134 17.6938 17.9294 16.9003 17.9294 15.7967C17.9294 15.198 17.5904 14.8085 16.8619 14.5056C16.705 14.4401 16.5618 14.3882 16.4345 14.3421C16.0294 14.1953 15.7871 14.1075 15.7871 13.8275C15.7871 13.5462 16.0756 13.3515 16.6022 13.3515ZM23.0579 13.6472C22.5386 13.4741 22.1058 13.3515 21.6802 13.3515C21.1537 13.3515 20.8652 13.5462 20.8652 13.8275C20.8652 14.1075 21.1075 14.1953 21.5126 14.3421C21.6398 14.3882 21.783 14.4401 21.9399 14.5056C22.6684 14.8085 23.0075 15.198 23.0075 15.7967C23.0075 16.9003 22.0914 17.6938 20.5406 17.6938C19.8265 17.6938 19.1412 17.5928 18.456 17.362L18.8311 16.0997C19.3288 16.3449 19.8048 16.4531 20.2953 16.4531C20.894 16.4531 21.2114 16.28 21.2114 15.9843C21.2114 15.6548 20.9684 15.5626 20.5861 15.4174C20.5415 15.4004 20.495 15.3828 20.4468 15.3639C19.5956 15.0177 19.134 14.6931 19.134 13.8925C19.134 12.9475 20.0356 12.1757 21.6153 12.1757C22.1924 12.1757 22.8055 12.2839 23.4547 12.4931L23.0579 13.6472ZM25.8855 14.96L26.4337 12.3416V12.3344H24.6088L24.1688 14.419C24.0317 15.0393 23.974 15.5226 23.974 15.8688C23.974 17.0374 24.6088 17.6865 25.6835 17.6865C26.412 17.6865 27.0829 17.3403 27.6743 16.6695L27.4724 17.5567H29.1097L30.2278 12.3344H28.4029L27.934 14.5416C27.6888 15.6813 27.1838 16.2583 26.5202 16.2583C26.073 16.2583 25.8278 15.9842 25.8278 15.4793C25.8278 15.3134 25.8422 15.1403 25.8855 14.96ZM35.0101 13.8347C34.6855 13.741 34.4186 13.6905 34.2166 13.6905C33.3871 13.6905 33.0193 14.2098 32.7812 15.3062L32.2907 17.5639H30.4658L31.5334 12.32H33.1852L32.9904 13.2721C33.4953 12.5436 34.0075 12.1974 34.7143 12.1974C34.9379 12.1974 35.1615 12.2406 35.4068 12.3128L35.0101 13.8347ZM40.2226 16.2488L40.2252 16.2367L40.5281 14.758C40.593 14.3901 40.6363 14.0656 40.6363 13.8203C40.6363 12.8177 39.7852 12.1541 38.2127 12.1541C37.614 12.1541 37.0442 12.2551 36.4743 12.457L36.2579 13.676C36.7917 13.4092 37.3543 13.2793 37.9675 13.2793C38.6238 13.2793 38.9701 13.5679 38.9701 14.0944C38.9701 14.1449 38.9701 14.2098 38.9629 14.2675C38.6671 14.2387 38.3858 14.217 38.1189 14.217C36.1137 14.217 35.0389 14.9456 35.0389 16.1141C35.0389 17.0374 35.7097 17.6649 36.7845 17.6649C37.5707 17.6649 38.1911 17.3619 38.595 16.7633L38.494 17.5567H40.0088C40.0516 17.0572 40.1438 16.6212 40.2226 16.2488ZM36.7484 15.9698C36.7484 15.436 37.2606 15.1547 38.2343 15.1547C38.4002 15.1547 38.5734 15.1547 38.7465 15.1836C38.6166 16.0564 38.0468 16.5613 37.4193 16.5613C37.0153 16.5613 36.7484 16.316 36.7484 15.9698ZM46.7314 17.5567H44.9065L45.4547 14.9384C45.4979 14.7436 45.5124 14.5705 45.5124 14.419C45.5124 13.9213 45.2599 13.6472 44.8488 13.6472C44.1274 13.6472 43.6514 14.217 43.4061 15.3567L42.9373 17.5639H41.1124L42.2304 12.2911H43.8678L43.6658 13.2288C44.2573 12.558 44.9281 12.2118 45.6566 12.2118C46.7314 12.2118 47.3661 12.8754 47.3661 14.0367C47.3661 14.3685 47.3084 14.8518 47.1714 15.4793L46.7314 17.5567ZM51.6724 13.5174C52.0258 13.5174 52.4009 13.6112 52.7904 13.7915L53.2015 12.5292C52.6245 12.2912 52.0474 12.183 51.456 12.183C49.4147 12.183 48.1452 13.4525 48.1452 15.2197C48.1452 16.6551 49.1334 17.6433 50.7347 17.6433C51.1891 17.6433 51.6796 17.5712 52.2278 17.4269L52.4442 16.0492C52.0763 16.2151 51.7373 16.2944 51.4055 16.2944C50.576 16.2944 50.0566 15.7967 50.0566 15.0177C50.0566 14.1233 50.6986 13.5174 51.6724 13.5174ZM56.3537 16.5397C55.5124 16.5397 55.0868 16.1884 55.0127 15.4216H58.7556C58.835 15.0538 58.8783 14.722 58.8783 14.4262C58.8783 12.9908 58.0848 12.1685 56.635 12.1685C55.654 12.1685 54.8606 12.4498 54.3124 12.9908C53.7425 13.5462 53.3747 14.4334 53.3747 15.2846C53.3747 16.7633 54.3484 17.7298 55.993 17.7298C56.6566 17.7298 57.3058 17.6288 57.9261 17.4341L58.1281 16.1429C57.5294 16.4098 56.9091 16.5397 56.3537 16.5397ZM57.3924 14.1666C57.3924 13.5895 57.0389 13.2216 56.4763 13.2216C55.9209 13.2216 55.452 13.6616 55.2501 14.4118H57.3707C57.3852 14.3325 57.3924 14.2459 57.3924 14.1666ZM69.1281 17.5567H70.8665L71.5229 14.556C71.5517 14.3974 71.595 14.1593 71.595 13.8419C71.595 12.8177 70.9747 12.1974 70.0009 12.1974C69.2363 12.1974 68.7025 12.5219 68.1327 13.2216C67.9163 12.5436 67.4474 12.1974 66.6973 12.1974C66.012 12.1974 65.4494 12.5436 64.8724 13.236L65.0743 12.2839H63.5091L62.3911 17.5567H64.2376L64.793 14.96C64.9734 14.0944 65.2907 13.6688 65.8461 13.6688C66.1996 13.6688 66.3943 13.8708 66.3943 14.2242C66.3943 14.4334 66.3727 14.6642 66.315 14.9383L65.7596 17.5567H67.6061L68.075 15.3495C68.0912 15.2717 68.106 15.1947 68.1206 15.1186C68.1966 14.7217 68.268 14.3491 68.5222 14.0223C68.7025 13.7915 68.9478 13.6688 69.2219 13.6688C69.5537 13.6688 69.7701 13.8997 69.7701 14.2892C69.7701 14.4478 69.734 14.6642 69.6763 14.9383L69.1281 17.5567ZM77.3871 16.2367L77.3846 16.2487L77.3846 16.2489C77.3058 16.6213 77.2135 17.0572 77.1707 17.5567H75.656L75.757 16.7633C75.353 17.3619 74.7327 17.6649 73.9465 17.6649C72.8717 17.6649 72.2009 17.0374 72.2009 16.1141C72.2009 14.9456 73.2757 14.217 75.2809 14.217C75.5478 14.217 75.8291 14.2387 76.1248 14.2675C76.132 14.2099 76.132 14.145 76.132 14.0946V14.0944C76.132 13.5679 75.7858 13.2793 75.1294 13.2793C74.5163 13.2793 73.9537 13.4092 73.4199 13.676L73.6363 12.457C74.2061 12.2551 74.776 12.1541 75.3747 12.1541C76.9471 12.1541 77.8055 12.8177 77.8055 13.8203C77.8055 14.0656 77.7622 14.3901 77.6901 14.758L77.3871 16.2367ZM75.3963 15.1547C74.4225 15.1547 73.9104 15.436 73.9104 15.9698C73.9104 16.316 74.1773 16.5613 74.5812 16.5613C75.2088 16.5613 75.7786 16.0564 75.9084 15.1836C75.7353 15.1547 75.5622 15.1547 75.3963 15.1547ZM80.2002 17.564L81.7222 10.524H79.9117L78.3897 17.564H80.2002ZM86.9589 16.2367L86.9564 16.2487L86.9564 16.2489C86.8776 16.6213 86.7853 17.0572 86.7425 17.5567H85.2278L85.3288 16.7633C84.9248 17.3619 84.3045 17.6649 83.5183 17.6649C82.4435 17.6649 81.7727 17.0374 81.7727 16.1141C81.7727 14.9456 82.8475 14.217 84.8527 14.217C85.1196 14.217 85.4009 14.2387 85.6966 14.2675C85.7038 14.2098 85.7038 14.1449 85.7038 14.0944C85.7038 13.5679 85.3576 13.2793 84.7012 13.2793C84.0881 13.2793 83.5255 13.4092 82.9917 13.676L83.2081 12.457C83.7779 12.2551 84.3478 12.1541 84.9465 12.1541C86.5189 12.1541 87.3701 12.8177 87.3701 13.8203C87.3701 14.0656 87.3268 14.3901 87.2619 14.758L86.9589 16.2367ZM84.9681 15.1547C83.9943 15.1547 83.4822 15.436 83.4822 15.9698C83.4822 16.316 83.7491 16.5613 84.153 16.5613C84.7806 16.5613 85.3504 16.0564 85.4802 15.1836C85.2999 15.1547 85.1268 15.1547 84.9681 15.1547ZM93.5229 17.5567L95.0088 10.5095H93.2055L92.6284 13.2216C92.275 12.5508 91.6763 12.1974 90.9117 12.1974C89.2888 12.1974 88.1419 13.4885 88.1419 15.3856C88.1419 16.8282 88.9425 17.7082 90.1832 17.7082C90.9406 17.7082 91.5897 17.362 92.0947 16.6839L91.8999 17.5567H93.5229ZM90.0101 15.3423C90.0101 14.2964 90.6232 13.5462 91.3229 13.5462C91.8927 13.5462 92.2966 13.9718 92.2966 14.6138C92.2966 15.6092 91.6402 16.3593 90.9117 16.3593C90.3779 16.3593 90.0101 15.9482 90.0101 15.3423ZM98.0166 12.3272L96.877 17.5567H95.1025L96.2422 12.3272H98.0166ZM98.3917 10.5095L98.2114 11.4472H96.437L96.6101 10.5095H98.3917ZM100.188 15.4216C100.263 16.1884 100.688 16.5397 101.529 16.5397C102.085 16.5397 102.705 16.4098 103.304 16.1429L103.102 17.4341C102.482 17.6288 101.832 17.7298 101.169 17.7298C99.5242 17.7298 98.5504 16.7633 98.5504 15.2846C98.5504 14.4334 98.9183 13.5462 99.4881 12.9908C100.036 12.4498 100.83 12.1685 101.811 12.1685C103.261 12.1685 104.054 12.9908 104.054 14.4262C104.054 14.722 104.011 15.0538 103.931 15.4216H100.188ZM101.652 13.2216C102.215 13.2216 102.568 13.5895 102.568 14.1666C102.568 14.2206 102.561 14.278 102.555 14.3341C102.552 14.3604 102.549 14.3865 102.546 14.4118H100.426C100.628 13.6616 101.089 13.2216 101.652 13.2216Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M132.784 17.636H118.242V26.5514H132.784V17.636ZM125.513 18.1048C125.43 18.2533 125.272 18.4522 125.026 18.7622C124.949 18.8587 124.864 18.966 124.77 19.0858C124.308 19.6628 124.388 20.4346 124.604 20.8963C124.857 21.4228 125.001 21.8628 125.116 22.274C125.275 22.8799 125.174 23.6806 125.181 23.6084H124.777C124.777 22.6274 124.467 21.6969 123.724 21.2858C122.671 20.7015 121.632 21.7186 121.957 22.7645C122.13 23.3127 122.44 23.5002 122.527 23.5002C122.527 23.5002 122.383 22.8943 122.823 22.5769C123.234 22.2884 123.746 22.4615 123.984 22.8078C124.207 23.1396 124.244 23.594 124.244 23.594H123.486V24.1566H125.008C125.008 24.1566 124.965 24.9501 124.135 24.8707C124.135 24.8707 124.236 25.4983 125.008 25.1665C125.008 25.1665 124.965 25.8156 125.499 26.1474C126.025 25.8156 125.989 25.1665 125.989 25.1665C126.761 25.491 126.862 24.8707 126.862 24.8707C126.025 24.9501 125.989 24.1566 125.989 24.1566H127.518V23.594H126.761C126.761 23.594 126.797 23.1396 127.021 22.8078C127.259 22.4615 127.771 22.2812 128.182 22.5769C128.622 22.8871 128.478 23.5002 128.478 23.5002C128.564 23.5002 128.874 23.3127 129.047 22.7645C129.379 21.7114 128.333 20.6943 127.28 21.2858C126.537 21.6969 126.234 22.6202 126.234 23.6084H125.83C125.838 23.6806 125.737 22.8727 125.895 22.274C126.011 21.8556 126.155 21.4228 126.407 20.8963C126.631 20.4346 126.71 19.6628 126.249 19.0858C126.14 18.9448 126.043 18.8212 125.957 18.7121L125.957 18.7121C125.736 18.4305 125.591 18.2452 125.513 18.1048ZM151.574 17.636H137.025V26.5514H151.574V17.636ZM144.296 18.1048C144.208 18.2624 144.036 18.4766 143.759 18.8201L143.759 18.821L143.758 18.8218C143.693 18.9024 143.622 18.9901 143.546 19.0858C143.084 19.6628 143.163 20.4346 143.387 20.8963C143.64 21.4228 143.784 21.8628 143.899 22.274C144.031 22.7783 143.979 23.4176 143.965 23.5761V23.5761L143.965 23.5763C143.964 23.5918 143.963 23.6027 143.963 23.6084H143.56C143.56 22.6274 143.257 21.6969 142.507 21.2858C141.454 20.7015 140.415 21.7186 140.747 22.7645C140.92 23.3127 141.23 23.5002 141.317 23.5002C141.317 23.5002 141.173 22.8943 141.613 22.5769C142.024 22.2884 142.536 22.4615 142.774 22.8078C142.998 23.1396 143.034 23.594 143.034 23.594H142.276V24.1566H143.798C143.798 24.1566 143.755 24.9501 142.925 24.8707C142.925 24.8707 143.026 25.4983 143.798 25.1665C143.798 25.1665 143.755 25.8156 144.289 26.1474C144.815 25.8156 144.779 25.1665 144.779 25.1665C145.551 25.491 145.659 24.8707 145.659 24.8707C144.823 24.9501 144.779 24.1566 144.779 24.1566H146.308V23.594H145.544C145.544 23.594 145.58 23.1396 145.803 22.8078C146.042 22.4615 146.554 22.2812 146.965 22.5769C147.405 22.8871 147.261 23.5002 147.261 23.5002C147.347 23.5002 147.657 23.3127 147.823 22.7645C148.155 21.7114 147.116 20.6943 146.056 21.2858C145.32 21.6969 145.01 22.6202 145.01 23.6084H144.607C144.607 23.6026 144.606 23.5913 144.605 23.5752C144.592 23.4143 144.539 22.7718 144.671 22.274C144.786 21.8556 144.931 21.4228 145.183 20.8963C145.4 20.4346 145.486 19.6628 145.017 19.0858C144.883 18.9051 144.765 18.753 144.665 18.6233L144.665 18.6233C144.485 18.3906 144.361 18.2299 144.296 18.1048ZM144.606 23.6084C144.607 23.6145 144.608 23.6143 144.607 23.6084H144.606ZM143.964 23.6084H143.963C143.963 23.6144 143.963 23.6146 143.964 23.6084ZM118.242 30.7927H132.784V39.7081H118.242V30.7927ZM125.026 31.919L125.026 31.919L125.026 31.919C125.272 31.609 125.43 31.4101 125.513 31.2616C125.591 31.4019 125.736 31.5873 125.957 31.8689C126.043 31.978 126.14 32.1016 126.249 32.2426C126.71 32.8196 126.631 33.5986 126.407 34.053C126.155 34.5796 126.011 35.0124 125.895 35.4307C125.737 36.0294 125.838 36.8373 125.83 36.7652H126.234C126.234 35.777 126.537 34.8537 127.28 34.4426C128.333 33.8511 129.379 34.8681 129.047 35.9212C128.874 36.4694 128.564 36.657 128.478 36.657C128.478 36.657 128.622 36.0511 128.182 35.7409C127.771 35.4524 127.259 35.6255 127.021 35.9717C126.797 36.3035 126.761 36.758 126.761 36.758H127.518V37.3206H125.989C125.989 37.3206 126.025 38.114 126.862 38.0347C126.862 38.0347 126.761 38.655 125.989 38.3304C125.989 38.3304 126.025 38.9868 125.499 39.3114C124.965 38.9868 125.008 38.3304 125.008 38.3304C124.236 38.655 124.135 38.0347 124.135 38.0347C124.965 38.114 125.008 37.3206 125.008 37.3206H123.486V36.758H124.244C124.244 36.758 124.207 36.3035 123.984 35.9717C123.746 35.6255 123.234 35.4524 122.823 35.7409C122.383 36.0511 122.527 36.657 122.527 36.657C122.44 36.657 122.13 36.4694 121.957 35.9212C121.632 34.8753 122.671 33.8583 123.724 34.4426C124.467 34.8537 124.777 35.7842 124.777 36.7652H125.181C125.174 36.8373 125.275 36.0294 125.116 35.4307C125.001 35.0196 124.857 34.5796 124.604 34.053C124.388 33.5914 124.308 32.8196 124.77 32.2426C124.864 32.1228 124.949 32.0156 125.026 31.9192L125.026 31.919ZM151.574 30.7927H137.025V39.7081H151.574V30.7927ZM144.296 31.2616C144.208 31.4191 144.036 31.6334 143.759 31.9769C143.694 32.0579 143.623 32.1462 143.546 32.2426C143.084 32.8196 143.163 33.5914 143.387 34.053C143.64 34.5796 143.784 35.0196 143.899 35.4307C144.031 35.9286 143.979 36.5711 143.965 36.7319C143.964 36.7481 143.963 36.7594 143.963 36.7652H143.56C143.56 35.7842 143.257 34.8537 142.507 34.4426C141.454 33.8583 140.415 34.8753 140.747 35.9212C140.92 36.4694 141.23 36.657 141.317 36.657C141.317 36.657 141.173 36.0511 141.613 35.7409C142.024 35.4524 142.536 35.6255 142.774 35.9717C142.998 36.3035 143.034 36.758 143.034 36.758H142.276V37.3206H143.798C143.798 37.3206 143.755 38.114 142.925 38.0347C142.925 38.0347 143.026 38.655 143.798 38.3304C143.798 38.3304 143.755 38.9868 144.289 39.3114C144.815 38.9868 144.779 38.3304 144.779 38.3304C145.551 38.655 145.659 38.0347 145.659 38.0347C144.823 38.114 144.779 37.3206 144.779 37.3206H146.308V36.758H145.544C145.544 36.758 145.58 36.3035 145.803 35.9717C146.042 35.6255 146.554 35.4524 146.965 35.7409C147.405 36.0511 147.261 36.657 147.261 36.657C147.347 36.657 147.657 36.4694 147.823 35.9212C148.155 34.8681 147.116 33.8511 146.056 34.4426C145.32 34.8537 145.01 35.777 145.01 36.7652H144.607C144.607 36.7594 144.606 36.7481 144.605 36.7319C144.592 36.5711 144.539 35.9286 144.671 35.4307C144.786 35.0124 144.931 34.5796 145.183 34.053C145.4 33.5986 145.486 32.8196 145.017 32.2426C144.883 32.0618 144.765 31.9097 144.665 31.78C144.485 31.5473 144.361 31.3866 144.296 31.2616ZM144.606 36.7652C144.607 36.7713 144.608 36.7711 144.607 36.7652H144.606ZM143.964 36.7652H143.963C143.963 36.7711 143.963 36.7713 143.964 36.7652Z' fill='%23095797'/%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
  width: 151.475px;
  height: 44px;
  margin: 24px auto 24px auto;
}
/* css footer fin */

/* css menu-gauche debut */
figure {
  color: #223654;
}
blockquote.blockquote > P {
  padding: 32px 0px 24px 0px;
  /* align-items: center; */
  gap: 8px;
  display: flex;
  /* width: 248px; */
  flex-direction: column;
  justify-content: center;
  color: #223654;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.blockquote {
  border-bottom: 1px solid #c4c8ce;
  margin-right: 16px;
  margin-left: 20px;
}
.blockquote::after {
  left: 50%;
}
div.accordion-item {
  border: 0;
}
button.accordion-button {
  font-weight: 500;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: #223654;
  /* font-family: Roboto; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.accordion-button:not(.collapsed),
.accordion-button:focus {
  background-color: transparent;
  box-shadow: none;
}
.accordion-button,
.accordion-button:collapsed {
  color: #095797;
}

.accordion-button:expanded {
  color: #333;
}

.list-group-item {
  color: #095797;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.accordion-body {
  overflow-y: auto;
  max-height: 30vh;
  direction: rtl;
  text-align: left;
}

.accordion-body::-webkit-scrollbar {
  width: 4px;
  /* height: 6px; */
  background-color: transparent;
}

.accordion-body::-webkit-scrollbar-thumb {
  background-color: #095797;
  border-radius: 0px;
}

.accordion-body::-webkit-scrollbar-button {
  display: none;
}
.list-group-item-action:active {
  color: #095797;
  background-color: #eeeee9;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: #095797;
  background-color: #eeeee9;
}

/* css menu-gauche fin */

/* css titire debut */
.h-titre {
  width: 865px;
  color: var(--bleus-bleu-fonce-223654, #223654);
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: 45px;
  margin-top: 64px;
  margin-bottom: 28px;
}
.div-avec-bordure {
  position: relative;
}

.div-avec-bordure::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 14px;
  width: 5%;
  height: 5px;
  background-color: #ed6b41;
}
/* css titire fin */

/* css obligatoires debut */

p.p-obligatoire {
  color: #223654;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 24px;
}
.p-obligatoire > mark {
  color: #c00;
  background-color: transparent;
}
/* css obligatoires fin */
/* css alert debut */
.alert-msg {
  display: flex;
  width: -webkit-fill-available;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 3px solid #c00;
}
.p-alert {
  color: #223654;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

ul {
  margin: 0;
  list-style-type: none;
  list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='1' viewBox='0 0 14 1' fill='none'%3E%3Cpath d='M0 0.5H14' stroke='%23CC0000'/%3E%3C/svg%3E");
  list-style-position: outside;
}
ul.champ-alert-msg {
  list-style-type: none;
}
ul.champ-alert-msg > li {
  color: #c00;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; 
  text-decoration-line: underline;
  padding: 0px 0px 16px 16px;
}

/* css alert fin */
/* css operation-buttons debut */
div.operation-buttons > label.btn.btn-outline-primary {
  display: flex;
  height: 32px;
  padding: 0px 16px 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 32px;
  border: 2px solid #223654;
  color: #223654;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}

div.operation-buttons > .btn-check:checked + .btn {
  display: flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 32px;
  background: #223654;
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  text-decoration-line: underline;
}

i {
  width: 12px;
  height: 12px;
}
/* css operation-buttons fin */
/* css card court debut */
.card.court {
  border: unset;
}
.card.court > .card-header {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 2px solid #fff;
  background: #095797;
}
.card.court > .card-body {
  border: 1px solid #223654;
}
/* css card court fin */

/* css card long debut */
.card.long {
  border: unset;
}
.card.long > .card-header {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  background: #095797;
  border-radius: 0;
}
.card.long > .card-body {
  border: 1px solid #223654;
}
/* css card long fin */

/* css form input debut */
label.form-label {
  color: #223654;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}
.erreur-form-label {
  color: #c00 !important;
}
.form-control,
.form-select {
  border-radius: 3px;
  border: 1px solid #223654;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  color: unset;
  background-color: unset;
  border-color: unset;
}
label.form-check-label {
  color: #223654;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
.form-check-input {
  border: 1px solid #223654;
  width: 1.5em;
  height: 1.5em;
}
.form-check-input:checked {
  background-color: #095797;
  border-color: #095797;
}
.form-check-input:focus {
  border-color: #095797;
  box-shadow: none;
}
/* css form input fin */

button.btn.btn-primary {
  display: inline-flex;
  height: 60px;
  padding: 21px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: #095797;
  border-color: #095797;
}
.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #fff;
  background-color: #095797;
  border-color: #095797;
}

/* css table resultat debut */
div.titre-tableau > span.badge {
  background-color: #223654;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/*   table {
    border-color: #fc0000;
  } */
.table-striped > tbody > tr:nth-of-type(odd) > * {
  /* --bs-table-color-type: #ff0000; */
  --bs-table-bg-type: #fff;
}
.table-bordered > :not(caption) > * > * {
  background-color: #f1f5f9;
}
.table-bordered > :not(caption) > * {
  border-width: 0;
}

.table-striped tr:first-child th {
  background-color: #223654;
}

.table-striped tr:last-child td {
  border-bottom-width: 1px;
}

.table-striped tr:first-child th:not(:last-child) {
  border-right-color: #fff;
}

.table th {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.table tbody td {
  color: #223654;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

table.table.table-striped.table-bordered {
  border: 1px solid #223654;
}

/* css table resultat fin  */

/* css form validation debut */
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #223654;
  background-image: none;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #223654;
  box-shadow: none;
}

.form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: #223654;
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #223654;
}

.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
  box-shadow: none;
}

.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
  border-color: #223654;
  box-shadow: none;
}
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  --bs-form-select-bg-icon: none;
}
.form-select.is-valid,
.was-validated .form-select:valid {
  border-color: #223654;
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: #223654;
}
/* css form validation fin */

/* css pagination debut */
.pagination {
  --bs-pagination-border-color: none;
  --bs-pagination-font-size: 24px;
  --bs-pagination-color: #095797;
  --bs-pagination-bg: none;
  --bs-pagination-border-color: none;
  --bs-pagination-hover-color: #095797;
  --bs-pagination-hover-bg: none;
  --bs-pagination-disabled-color: #e6e7e8;
  --bs-pagination-disabled-bg: none;
  --bs-pagination-disabled-border-color: #e6e7e8;
  color: #095797;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  /* text-decoration-line: underline; */
}

.page-link:focus {
  z-index: 3;
  color: #223654;
  background-color: unset;
  outline: 0;
  box-shadow: none;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-decoration-line: underline;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: #223654;
  background-color: unset;
  border-color: unset;
  text-decoration-line: underline;
}

/* css pagination fin */

/* css global */

.bordure-droit {
  border-right: 1px solid #c4c8ce;
}
.bordure-haut {
  border-top: 1px solid #e6e7e8;
}

